@import "partials/variables.scss";

a {
    color: $footertext;
    &:hover {
        color: $bannertext;
        text-decoration: none;
    }
}

body {
    padding: 0 !important;
    min-width: 320px;
    background-color: $background;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

h2 {
    margin: 0 !important;
    line-height: 35px !important;
    font-size: 32px !important;
    font-weight: 900;
}

ul{
    padding: 0 !important;
    text-align: left;
}

.active-tab {
    position: relative;
    border-bottom: 0 !important;
    background-color: $background !important;
    color: $icon-text !important;
}

.banner {
    height: 515px;
    background-image: url("./images/banner.png");
}

.border-bottom {
    margin-left: 889px;
    height: 63px;
    border-bottom: 1px solid $border;
}

.blue-text {
    color: $blue-text;
}

.container {

    padding: 0 !important;
    max-width: 1400px;
    width: 100%;

}

.data-growth {
    margin-top: 90px;
    padding-left: 20px;
    max-width: 560px;
    letter-spacing: 1px;
}

.data-growth-text {
    padding-top: 25px;
    line-height: 21px;
    font-size: 14px;
}

.empty-tab {
    display: inline-block;
    width: 130px;
    height: 40px;
    border-bottom: 1px solid $border;
}

.footer {
    padding: 18px 115px 0 115px;
    width: 100%;
    background-color: $footer;
    color: $footertext;
    font-size: 10px;
}

.gdc-logo {
    height: 29px;
    margin-top: 103px;
}

.image-1 {
    display: block;
    margin: 0 auto;
    width: 102px;
    padding: 80px 0 20px 0;
}

.image-container {
    position: relative;
    width: 100%;
}

.icon-text {
    display: block;
    margin: 0 auto;
    padding: 0 10px 105px 10px;
    max-width: 309px;
    color: $icon-text;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.logo {
    height: 24px;
    margin-top: 23px;
}

.logo-container {
    height: 70px;
    width: 100%;
    background-color: $header;
}

.mobile-tab {
    display: none;
}

.pb-20 {
    padding-bottom: 19px;
}

.pb-160 {
    padding-bottom: 160px;
}

.power {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 55px;
}

.power-info {
    margin: 22px 0 0 0 !important;
    font-size: 20px !important;
    letter-spacing: 3px !important;
    font-weight: 900 !important;
}

.footer {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.server {
        padding: 101px 0 0 141px;
}

.slogan-container {
    margin-top: 20px;
    max-width: 300px;
    color: white;
}

.social-icons {
    float: right;
    margin-top:-15px;
        list-style:none;

}

.tab {
    display: inline-block;
    margin-left: -4px;
    padding: 20px 0;
    width: 254px;
    border: 1px solid $border;
    background-color: $tab-color;
    text-align: center;
    font-size: 15px;
    &:hover {
        cursor: pointer;
    }
}
.tab-container {
    float: left;
    max-width: 902px;
}

@media screen and (max-width: 991px) {
    .border-bottom {
        margin-left: 754px;
    }

    .data-growth {
            margin: 90px auto 0 auto;
        text-align: center
    }

    .empty-tab {
        width: 35px;
    }

    .footer {
        padding: 19px 0 !important;
    }

    .footer-links {
        text-align: center;
    }

    .ml-n20 {
        margin-left: -20px;
    }

    .social-links {
        float: none;
        width: 300px;
        margin: 0 auto;

    }
    .social-links-container{
        width: 100%;
    }

}

@media screen and (max-width: 795px) {
    .tab {
        width: 200px;
    }
    .border-bottom {
        margin-left: 592px;
    }
}

@media screen and (max-width: 767px) {
    .server {
        padding-left: 35px;
        padding-right: 35px;
        margin: 0 auto;
    }
}



@media screen and (max-width: 650px) {
    .tab {
        width: 150px;
    }
    .border-bottom {
        margin-left: 442px;
    }
}

@media screen and (max-width: 500px) {
    .border-bottom {
        margin-left: 330px;
        height: 84px;
    }

    .empty-tab {
        height: 40px;
    }

    .mobile-tab {
        display: block;
    }

    .tab {
        width: 100px;

    }
}

@media screen and (max-width: 350px) {
    .border-bottom {
        margin-left: 137px;
    }

    .empty-tab {
        width: 20px;
    }
}
