/* line 3, sass/styles.scss */
a {
  color: #777777; }
  /* line 5, sass/styles.scss */
  a:hover {
    color: #fbfbfb;
    text-decoration: none; }

/* line 11, sass/styles.scss */
body {
  padding: 0 !important;
  min-width: 320px;
  background-color: #fafafa;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden; }

/* line 19, sass/styles.scss */
h2 {
  margin: 0 !important;
  line-height: 35px !important;
  font-size: 32px !important;
  font-weight: 900; }

/* line 26, sass/styles.scss */
ul {
  padding: 0 !important;
  text-align: left; }

/* line 31, sass/styles.scss */
.active-tab {
  position: relative;
  border-bottom: 0 !important;
  background-color: #fafafa !important;
  color: #000000 !important; }

/* line 38, sass/styles.scss */
.banner {
  height: 515px;
  background-image: url("./images/banner.png"); }

/* line 43, sass/styles.scss */
.border-bottom {
  margin-left: 889px;
  height: 63px;
  border-bottom: 1px solid #cccccc; }

/* line 49, sass/styles.scss */
.blue-text {
  color: #00b6f1; }

/* line 53, sass/styles.scss */
.container {
  padding: 0 !important;
  max-width: 1400px;
  width: 100%; }

/* line 61, sass/styles.scss */
.data-growth {
  margin-top: 90px;
  padding-left: 20px;
  max-width: 560px;
  letter-spacing: 1px; }

/* line 68, sass/styles.scss */
.data-growth-text {
  padding-top: 25px;
  line-height: 21px;
  font-size: 14px; }

/* line 74, sass/styles.scss */
.empty-tab {
  display: inline-block;
  width: 130px;
  height: 40px;
  border-bottom: 1px solid #cccccc; }

/* line 81, sass/styles.scss */
.footer {
  padding: 18px 115px 0 115px;
  width: 100%;
  background-color: #262626;
  color: #777777;
  font-size: 10px; }

/* line 89, sass/styles.scss */
.gdc-logo {
  height: 29px;
  margin-top: 103px; }

/* line 94, sass/styles.scss */
.image-1 {
  display: block;
  margin: 0 auto;
  width: 102px;
  padding: 80px 0 20px 0; }

/* line 101, sass/styles.scss */
.image-container {
  position: relative;
  width: 100%; }

/* line 106, sass/styles.scss */
.icon-text {
  display: block;
  margin: 0 auto;
  padding: 0 10px 105px 10px;
  max-width: 309px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center; }

/* line 118, sass/styles.scss */
.logo {
  height: 24px;
  margin-top: 23px; }

/* line 123, sass/styles.scss */
.logo-container {
  height: 70px;
  width: 100%;
  background-color: #222222; }

/* line 129, sass/styles.scss */
.mobile-tab {
  display: none; }

/* line 133, sass/styles.scss */
.pb-20 {
  padding-bottom: 19px; }

/* line 137, sass/styles.scss */
.pb-160 {
  padding-bottom: 160px; }

/* line 141, sass/styles.scss */
.power {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 55px; }

/* line 148, sass/styles.scss */
.power-info {
  margin: 22px 0 0 0 !important;
  font-size: 20px !important;
  letter-spacing: 3px !important;
  font-weight: 900 !important; }

/* line 155, sass/styles.scss */
.footer {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/* line 160, sass/styles.scss */
.server {
  padding: 101px 0 0 141px; }

/* line 164, sass/styles.scss */
.slogan-container {
  margin-top: 20px;
  max-width: 300px;
  color: white; }

/* line 170, sass/styles.scss */
.social-icons {
  float: right;
  margin-top: -15px;
  list-style: none; }

/* line 177, sass/styles.scss */
.tab {
  display: inline-block;
  margin-left: -4px;
  padding: 20px 0;
  width: 254px;
  border: 1px solid #cccccc;
  background-color: #e1e1e1;
  text-align: center;
  font-size: 15px; }
  /* line 186, sass/styles.scss */
  .tab:hover {
    cursor: pointer; }

/* line 190, sass/styles.scss */
.tab-container {
  float: left;
  max-width: 902px; }

@media screen and (max-width: 991px) {
  /* line 196, sass/styles.scss */
  .border-bottom {
    margin-left: 754px; }

  /* line 200, sass/styles.scss */
  .data-growth {
    margin: 90px auto 0 auto;
    text-align: center; }

  /* line 205, sass/styles.scss */
  .empty-tab {
    width: 35px; }

  /* line 209, sass/styles.scss */
  .footer {
    padding: 19px 0 !important; }

  /* line 213, sass/styles.scss */
  .footer-links {
    text-align: center; }

  /* line 217, sass/styles.scss */
  .ml-n20 {
    margin-left: -20px; }

  /* line 221, sass/styles.scss */
  .social-links {
    float: none;
    width: 300px;
    margin: 0 auto; }

  /* line 227, sass/styles.scss */
  .social-links-container {
    width: 100%; } }
@media screen and (max-width: 795px) {
  /* line 234, sass/styles.scss */
  .tab {
    width: 200px; }

  /* line 237, sass/styles.scss */
  .border-bottom {
    margin-left: 592px; } }
@media screen and (max-width: 767px) {
  /* line 243, sass/styles.scss */
  .server {
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 auto; } }
@media screen and (max-width: 650px) {
  /* line 253, sass/styles.scss */
  .tab {
    width: 150px; }

  /* line 256, sass/styles.scss */
  .border-bottom {
    margin-left: 442px; } }
@media screen and (max-width: 500px) {
  /* line 262, sass/styles.scss */
  .border-bottom {
    margin-left: 330px;
    height: 84px; }

  /* line 267, sass/styles.scss */
  .empty-tab {
    height: 40px; }

  /* line 271, sass/styles.scss */
  .mobile-tab {
    display: block; }

  /* line 275, sass/styles.scss */
  .tab {
    width: 100px; } }
@media screen and (max-width: 350px) {
  /* line 282, sass/styles.scss */
  .border-bottom {
    margin-left: 137px; }

  /* line 286, sass/styles.scss */
  .empty-tab {
    width: 20px; } }
