$background: #fafafa;
$bannertext: #fbfbfb;
$blacktext: #333333;
$blue-text: #00b6f1;
$border: #cccccc;
$footer: #262626;
$footertext: #777777;
$header: #222222;
$icon-text: #000000;
$tab-color: #e1e1e1;
$tab-text: #999999;
$white: #ffffff;
